!!!5
-# To understand why the html tag is setup this way,
-# see http://paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
%head
  %meta(charset='utf-8')
  %meta(name='viewport' content='width=device-width, initial-scale=1.0')
  %title=site.title
  %link{:rel=>'stylesheet', :href=>"#{site.base_url}/stylesheets/app.css"}
  %script(src="#{site.base_url}/javascripts/vendor/custom.modernizr.js")
  %link{:rel=>'author', :type=>'text/plain', :href=>"#{site.base_url}/humans.txt"}
  <!-- Fonts -->
  %link{:rel=>'stylesheet', :type=>'text/css', :href=>"http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext"}
  %link{:rel=>'stylesheet', :type=>'text/css', :href=>"http://fonts.googleapis.com/css?family=Droid+Sans+Mono"}
  <!-- highlight.js -->
  %link{:rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/default.min.css"}
  %script(src="#{site.base_url}/javascripts/vendor/highlight.min.js")
  <!-- font-awesome -->
  %link{:rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/font-awesome.min.css"}
%body.antialiased
  %div.sticky
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            %a(href="#{site.base_url}/")
              %img{:src=>"#{site.base_url}/img/HibersapLogo.png", :alt=>"Hibersap"}
        %li.toggle-topbar.menu-icon
          %a{:href=>'#'}<
            %span
      %section.top-bar-section
        %ul.right
          %li.divider
            %li
              %a{:href=>"#{site.base_url}/"} Home
          %li.divider
            %li
              %a{:href=>"#{site.base_url}/details"} Details
          %li.divider
            %li
              %a{:href=>"#{site.base_url}/example"} Example
          %li.divider
            %li
              %a{:href=>"#{site.base_url}/news"} News
          %li.divider
            %li
              %a{:href=>"#{site.base_url}/documentation"} Get Help
          %li.divider
            %li
              %a{:href=>"#{site.base_url}/contribute"} Contribute

  .row
    .large-12.columns
      ~ content
  %footer.row(style='max-width: 100%')
    .large-12.columns
      .text-center
        %div
          Copyright &copy; 2008-#{Date.today.year},
          %a{:href=>"http://akquinet.de"}
            #{site.org}
        %div(style='font-size: .75em')
          Hibersap is licensed under the
          %a{:href=>"http://www.apache.org/licenses/LICENSE-2.0"}
            Apache License, Version 2.0
        %div
          %i{:class=>"fa fa-github", :style=>"font-size: 1em"}
          %a{:href=>"https://github.com/hibersap"}
            GitHub Project
          &nbsp;&middot;&nbsp;
          %i{:class=>"fa fa-exclamation-circle", :style=>"font-size: 1em"}
          %a{:href=>"https://github.com/hibersap/hibersap/issues"}
            Issue Tracker
          &nbsp;&middot;&nbsp;
          %i{:class=>"fa fa-comments-o", :style=>"font-size: 1em"}
          %a{:href=>"https://sourceforge.net/p/hibersap/discussion"}
            Forums
          &nbsp;&middot;&nbsp;
          %i{:class=>"fa fa-twitter", :style=>"font-size: 1em"}
          %a{:href=>"http://twitter.com/hibersap"}
            @hibersap
  %script
    document.write('<script src=' + ('__proto__' in {} ? '#{site.base_url}/javascripts/vendor/zepto' : '#{site.base_url}/javascripts/vendor/jquery') + '.js><\/script>')
  %script{:src=>"#{site.base_url}/javascripts/foundation/foundation.js"}
  -# select foundation components from this array and add them to the one on the line below it
  -# [:orbit, :cookie, :clearing, :magellan, :section, :alerts, :topbar, :joyride, :forms, :tooltips, :dropdown, :placeholder, :reveal]
  - [:topbar].each do |component|
    %script{:src=>"#{site.base_url}/javascripts/foundation/foundation.#{component}.js"}
  %script
    $(document).foundation()
  - if site.google_analytics
    =google_analytics_async
  %script
    hljs.initHighlightingOnLoad();
</html>
